<!DOCTYPE html>
<html>
  <html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Домашняя библиотека. <rs mode_name></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

<body>
  <p><rs mode_name></p>
  <form method="POST" action="/controller/process_author.php">
    <p>Имя и фамилия автора:</p>
    <p><input name="name" maxlength="35" size="40" value="<rs name>" placeholder="Автор" required></p>
    <input type=submit name="doSave" value="Сохранить">
    <input type=reset name="doReset" value="Очистить">
    <input type=hidden name="action" value="<rs action>">
    <input type=hidden name="id" value="<rs id>">
  </form>
</body>

</html>
